.mobile-img {
  display: none;
}

@media screen and (max-width: 840px) {
  .main-img {
    display: none;
  }
  .mobile-img {
    display: block;
  }
  .main-img-comp {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
