@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Be+Vietnam+Pro&family=Bruno+Ace+SC&family=Caprasimo&family=Epilogue&family=Inter&family=Montserrat+Alternates:wght@200&family=Oooh+Baby&family=Playfair+Display&family=Roboto&display=swap');

.img {
  width: 15px;
}

.formComp-subTxt-cnt {
  display: flex;
  gap: 12px;
}

.formComp-cnt {
  display: flex;
  flex-direction: column;
  padding-top: 5rem;
  gap: 55px;
  width: 360px;
}

.formComp-header-cnt {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.header {
  font-family: 'Roboto', sans-serif;
  font-size: 55px;
  font-weight: 700;
}

.text {
  font-size: 16px;
  font-family: 'Inter', sans-serif;
}

.form-cnt {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.inputField {
  width: 340px;
  height: 41px;
  border-radius: 7px;
}

.btn {
  width: 342px;
  height: 47px;
  border-radius: 7px;
  cursor: pointer;
  background-color: transparent;
  color: aliceblue;
  background-image: linear-gradient(
    to right,
    rgb(232, 96, 118),
    rgb(232, 156, 16)
  );
  border: none;
  font-size: 16px;
}

.err {
  color: rgb(241, 96, 96);
  font-family: 'Inter', sans-serif;
  font-weight: 500;
}

@media screen and (max-width: 840px) {
  .formComp-cnt {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-top: 5rem;
    gap: 35px;
    width: 400px;
  }
  .formComp-header-cnt {
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
    justify-content: center;
    width: 350px;
  }
}
